<IfModule mod_headers.c>
  <FilesMatch "\.*">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>
<ifModule mod_rewrite.c>
RewriteEngine On
ErrorDocument 404 /404.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ index.php?page=$1 [L]
RewriteRule ^products/([^/]+)/([^/]+)/?$ index.php?page=products&cat=$1&product=$2 [L]
RewriteRule ^products/([^/]+)/([^/]+)/([^/]+)/?$ index.php?page=products&cat=$1&product=$2&search=$3 [L]
RewriteRule ^products/([^/]+)/?$ index.php?page=products&cat=$1 [L]
RewriteRule ^services/([^/]+)/?$ index.php?page=services&service=$1 [L]
RewriteRule ([a-z0-9_-]+)/([a-z0-9_-]+)/([a-z0-9_-]+)/?$ index.php?page=$1&param1=$2&param2=$3 [L]
RewriteRule ([a-z0-9_-]+)/([a-z0-9_-]+)/?$ index.php?page=$1&param1=$2 [L]
</ifModule>